@charset "utf-8";
/* CSS Document */

#navigation{
	height:560px;
	width:560px;
}
#local-info{
	height:500px;
}
#map_table{
	margin-left: 33px;
	margin-top: 30px;
	width: 500px;
}
#map-control{
	
}
#pointer{
	width: 100px;
	height: 100px;
	position: absolute;
	z-index: 10;
}
#arr_top{
	float:left;
	position: absolute;
	height: 30px;
	width: 560px;	
	z-index: 5;
}
#arr_bot{
	float:left;
	position: absolute;
	margin-top: 530px;
	height: 30px;
	width: 560px;	
	z-index: 5;
}
#arr_left{
	float:left;
	position: absolute;
	margin-top: 30px;
	height: 500px;
	width: 30px;	
	z-index: 5;
}
#arr_right{
	position: absolute;	
	margin-top: 30px;
	margin-left: 530px;
	height: 500px;
	width: 30px;	
	z-index: 5;;
}
.map_field{
	border: 2px;
	height:96px;
	width:96px;
	float:left;
}
.map_img{
	border: 2px;
	height:96px;
	width:96px;	
}
.map_img:hover {
	border: 2px solid #000000;
	height:92px;
	width:92px;
}